  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .description {
    flex: 1;
    min-width: 300px;
  }
  
  .profile-image {
    width: 26%;
    border: 1rem solid var(--secondary-color);
    border-radius: 50%;
  }
  
  @media screen and (max-width: 700px) {
    .content {
      flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }
  
    .profile-image {
      width: 70%;
      max-width: 200px;
      margin-top: 2rem; /* Add margin for spacing when wrapped */
    }

    .deko-circle {
      left: -80;
      top: -20;
    }

  }
  